<div class="container">
  <div class="login-form">
    <div class="hero-unit pt-5 pb-4">
      <a class="header-logo">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <path d="M20.883,16.698V7.402c0-4.452-4.442-4.44-4.442-4.44h-1.479V0L10.52,4.443l4.442,4.44v-2.96c0,0,0.617,0,1.479,0
            c1.306,0,1.48,1.479,1.48,1.479v9.296c-0.882,0.513-1.48,1.454-1.48,2.551c0,1.634,1.327,2.961,2.962,2.961s2.962-1.328,2.962-2.961
            C22.365,18.155,21.766,17.211,20.883,16.698L20.883,16.698z M19.403,20.729c-0.817,0-1.481-0.662-1.481-1.479s0.664-1.48,1.481-1.48
            c0.819,0,1.48,0.663,1.48,1.48C20.883,20.068,20.221,20.729,19.403,20.729z M3.115,7.302v9.294c0,4.454,4.442,4.441,4.442,4.441
            h1.481V24l4.441-4.442l-4.441-4.441v2.96c0,0-0.618,0-1.481,0c-1.305,0-1.479-1.479-1.479-1.479V7.303
            C6.96,6.789,7.557,5.848,7.557,4.751c0-1.634-1.327-2.961-2.961-2.961c-1.634,0-2.961,1.327-2.961,2.961
            C1.635,5.845,2.233,6.789,3.115,7.302L3.115,7.302z M4.596,6.293c-0.817,0-1.48-0.661-1.48-1.48c0-0.816,0.664-1.479,1.48-1.479
            c0.82,0,1.48,0.663,1.48,1.479C6.077,5.633,5.415,6.293,4.596,6.293z"/>
        </svg>
      </a>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
