@import "bootstrap-sprockets";
@import "bootstrap";
@import "primer";

body {
  padding: 1.5rem;
}

.state-success {
  @extend .btn;
  @extend .btn-success;
}

.state-failure {
  @extend .btn;
  @extend .btn-danger;
}

.state-pending {
  @extend .btn;
  @extend .btn-warning;
}

.jumbotron {
  border-radius: .3rem;
  margin-bottom: 0;
}
