<% content_for :frame_width, '500px' %>
<% content_for :frame_height, '160px' %>
<div class="jumbotron">
  <div class="container">
    <h2 class="display-3">Snap! No more pending merges</h2>
  </div>
</div>