<% content_for :frame_width, '600px' %>
<% content_for :frame_height, '330px' %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Welcome!</h1>
    <p>When you hit the <strong>"Auto-merge on Build Succeeds"</strong> button, the status of the merge request will be updated to represent the impending merge. There is an option to cancel the automatic merge but only the user who initialized the auto-merge can cancel it.</p>
  </div>
</div>